<mat-list>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="funcionario" routerLinkActive="active">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <div matListItemLine>Entidades Cooperantes</div>
    </mat-list-item>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="Teenager" routerLinkActive="active">
      <mat-icon matListItemIcon>category</mat-icon>
      <div matListItemLine>Notificaciones</div>
    </mat-list-item>
    <mat-list-item (click)="clickMenuItem()" matRipple routerLink="transactionalp" routerLinkActive="active">
      <mat-icon matListItemIcon>shopping_bag</mat-icon>
      <div matListItemLine>transactionalp</div>
    </mat-list-item>
  </mat-list>

